<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Serviços</title>
    <link rel="stylesheet" type="text/css" href="/css/listagem.css">
</head>

<body>

    <header class="header"></header>

    <h3>Lista de Pagamentos Realizados</h3>

    {{#each pagamento}}
    <div class="container">
        <div>
            <p>{{this.nome}}</p>
            <p>{{this.endereco}}</p>
            <p>{{this.qtd_horas}}</p>
            <p>{{this.data}}</p>
        </div>
        <div>
            <form action="/pagamento/deletar" method="post">
                <input type="hidden" name="id" id="id" value={{this.id}}>
                <button type="submit">Deletar</button>
            </form>
        </div>

    </div>
    {{/each}}

    <br>

    <a href="/pagamento/cadastrar">Cadastrar</a>

    <footer class="footer"></footer>
</body>

</html>