<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Serviços</title>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

    <header class="header"><a href="/usuario/inicio"><img src="/img/icon-voltar.png" width="90"></a></header>

    <main>
        <h2>Lista de serviços registrados</h2>
            <div class="container">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Qtd de horas</th>
                                <th>Obra</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each servico}}
                            <tr>
                                <td class="item">{{this.id}}</td>
                                <td class="item">{{this.nome}}</td>
                                <td class="item">{{this.qtd_horas}}</td>
                                <td class="item">{{this.endereco}}</td>
                                <td class="action">
                                    <form action="/servico/deletar" method="post">
                                        <input type="hidden" name="id" id="id" value={{this.id}}>
                                        <input id="delete" type="submit" value="">
                                    </form>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

            <br>
            <div class="new-register">
                <a href="/obra/cadastrar"><img src="/img/icon-add.png" width="40">NOVO SERVIÇO</a>
            </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>