<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Serviços</title>
    <link rel="stylesheet" type="text/css" href="/css/listagem.css">
</head>

<body>

    <header class="header"></header>

    <h3>Lista de Obras</h3>

    {{#each obra}}
    <div class="container">
        <div>
            <p>{{this.endereco}}</p>
            <p>{{this.valorservico}}</p>
            <p>{{this.descricao}}</p>
        </div>
        <div>
            <form action="/obra/deletar" method="post">
                <input type="hidden" name="id" id="id" value={{this.id}}>
                <button type="submit">Deletar</button>
            </form>
            <form action="/obra/edicao" method="post">
                <input type="hidden" name="id" id="id" value={{this.id}}>
                <button type="submit">Editar</button>
            </form>
        </div>

        <form action="/obra/despesas" method="post">
            <input type="hidden" name="id" id="id" value={{this.id}}>
            <button type="submit">Ver despesas</button>
        </form>

    </div>
    {{/each}}

    <br>

    <a href="/obra/cadastrar">Cadastrar</a>

    <footer class="footer"></footer>

</body>

</html>