<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Serviços</title>
</head>

<body>
    <h3>Edição de Registros de Funcionários</h3>
    
    <form action="/noticias/salvar_edicao" method="post">
        <input type="hidden" name="id" id="id" value={{noticia.id}}>
        <input type="hidden" name="idObra" id="idObra" value={{noticia.idObra}}>
        <input type="hidden" name="idFuncionario" id="idFuncionario" value={{noticia.idFuncionario}}>
        <label for="qtd_horas">Horas Trabalhadas</label><br>
        <input type="text" name="qtd_horas" id="qtd_horas" value={{noticia.qtd_horas}}><br>
        <label for="data">Data</label><br>
        <input type="text" name="data" id="data" value={{noticia.data}}><br>
        <button>Salvar</button>
    </form>
</body>

</html>